<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <script src='/_ah/channel/jsapi'></script>
    <link rel="stylesheet" href="static/circle.css"/>

    <script type="text/javascript">

        var state = {
            game_key: '{{game_key}}',
            token : '{{token}}',
            started: false,
            me: '{{my_nickname}}',
            my_place: 0,
            num_players: 3
        };

        document.addEventListener('DOMContentLoaded', function() {
            openChannel();
        }, false);

    </script>
    <script type="text/javascript" src="static/circle.js"></script>
</head>
<body>
<div id="users">
    <div id="user0">
        <span class="position"></span><br/>
        <span class="score"></span><br/>
        <span class="name">Waiting...</span>
    </div>
    <div id="user1">
        <span class="position"></span><br/>
        <span class="score"></span><br/>
        <span class="name">Waiting...</span>
    </div>
    <div id="user2">
        <span class="position"></span><br/>
        <span class="score"></span><br/>
        <span class="name">Waiting...</span>
    </div>
</div>

<div id="draw_area">
    <div id="help">
        <p>Push the left mouse button and draw the perfect circle with only <em>ONE</em> stroke. The template of the perfect one is provided for your convenience. </p>
        <p class="countdown"><span id="countdown_text">Start in </span><br/><span id="countdown"></span></p>
        <p id="again"><a href="">Play again!</a></p>
    </div>
    <div id="draw" style="width: {{board_size}}px">
        <svg height="{{board_size}}" width="{{board_size}}" id="background">
            <circle cx="{{center}}" cy="{{center}}" r="{{perfect_radius}}" stroke="black" stroke-width="1" stroke-dasharray="2,4" fill="none"/>
            <rect height="100%" width="100%" stroke="black" fill="none"/>
        </svg>
        <canvas id="canvas" width="{{board_size}}" height="{{board_size}}"></canvas>
    </div>
</div>

</body>
</html>
{% endautoescape %}