div#user1, div#user2, div#user0 {
    float: left;
    width: 33.3%;
    text-align: center;
}

div#users {
    display : flex;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    width: 90%;
    margin: 0 auto;
}

#draw_area {
    visibility: hidden;
}

#draw {
    position: relative;
    /*width: 400px;*/
    /*height: 400px;*/
    /* center */
    margin: 0 auto;

    margin-top: 20px;

}

#background {
    position: absolute;
    left: 0;
    top: 0;
}

p {
    text-align: center;
}

p.countdown {
    font-size: larger;
}

p span#countdown {
    font-size: larger;
    font-weight: bold;
}

#users .position {
    color: red;
}

.its-me {
    background-color: #f4fffd;
    border: 1px gray solid;
}

#again {
    visibility: hidden;
}

svg {
    z-index: -100;
}

canvas {
    cursor: not-allowed;
    z-index: 100;
}
canvas.can-draw {
    cursor: pointer;
}